<!DOCTYPE html>
<html>
    <head>
        <title>{% block title 'API' %} - Silex Application</title>
        <link href="{{ global.request.basepath }}/statics/css/foundation.min.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        {% block content %}{% endblock %}
        {% block logout %}{% endblock %}
    </body>
</html>