{% extends "base.html.twig" %}

{% block content %}
<div class="row">
	<div class="large-12 columns">
		<a href="{{ app.url_generator.generate('listing') }}">Retourner au listing global</a>

		<form action="{{ app.current_url }}" method="post">
			{{ form_widget(form) }}
			<input class="button" type="submit" name="submit" value="Éditer" />
		</form>
	</div>
</div>
{% endblock %}