{% extends "base.html.twig" %}

{% block content %}
<div class="row">
	<div class="large-12 columns">
		<br/>
		<p>Une erreur {{ code }} est survenue</p>

		<a href="{{ app.url_generator.generate('listing') }}">Revenir sur le site</a>
	</div>
</div>
{% endblock %}