{% extends "base.html.twig" %}

{% block content %}
<div class="row">
	<div class="large-12 columns">
		<div class="row">
			<div class="medium-12 columns">
				<br/>
				<div>
					<a class="button" href="{{ app.url_generator.generate('add') }}">Ajouter un utilisateur</a>
				</div>

				<div>
					<form action="{{ app.url_generator.generate('listing') }}/{{ page }}" method="get">
						<label>Rechercher, via le nom, prénom ou email:</label>
						<input type="text" name="search" placeholder="Rechercher">
					</form>
				</div>
				
			</div>
		</div>

		<form name="global" action="{{ app.url_generator.generate('listing') }}/{{ page }}" method="post">
			<table>
				<tr>
					<th></th>
					<th>Nom</th>
					<th>Prénom</th>
					<th>Âge</th>
					<th>Sexe</th>
					<th>Email</th>
					<th>Téléphone</th>
					<th>Rue</th>
					<th>Ville</th>
					<th>Code Postal</th>
					<th>Pays</th>
				</tr>
				{% for customer in customers %}
				<tr>
					<td><input type="checkbox" name="checkbox[]" value="{{ customer.id }}" /></td>
					<td>{{ customer.api_name }}</td>
					<td>{{ customer.api_firstname }}</td>
					<td>{{ customer.api_birthdate }} ans</td>
					<td>{{ customer.api_gender }}</td>
					<td>{{ customer.api_mail }}</td>
					<td>{{ customer.api_phone }}</td>
					<td>{{ customer.api_street }}</td>
					<td>{{ customer.api_town }}</td>
					<td>{{ customer.api_zipcode }}</td>
					<td>{{ customer.api_country }}</td>
					<td><a href="{{ app.url_generator.generate('customer') }}/{{ customer.id }}">voir</a></td>
					<td><a href="{{ app.url_generator.generate('edit') }}/{{ customer.id }}">éditer</a></td>
					<td><a href="{{ app.url_generator.generate('delete') }}/{{ customer.id }}">supprimer</a></td>
				</tr>
				{% endfor %}
			</table>

			<input class="button" type="submit" value="Supprimer la sélection" name="delete" />
			<br/>
		</form>

		<p>
			Page :
			{% if page > 1 %}
				<a href="{{ app.url_generator.generate('listing') }}/1">&laquo;</a>
				<a href="{{ app.url_generator.generate('listing') }}/{{ page-1 }}">&lsaquo;prev</a>
			{% endif %}

			{% for i in range(max(page-4, 1), min(page+4, nbrpage)) %}
				{% if i == page %}
					[{{ i }}]
				{% else %}
					<a href="{{ app.url_generator.generate('listing') }}/{{ i }}">{{ i }}</a>
				{% endif %}
			{% endfor %}

			{% if page < nbrpage %}
				<a href="{{ app.url_generator.generate('listing') }}/{{ page+1 }}">next&rsaquo;</a>
				<a href="{{ app.url_generator.generate('listing') }}/{{ nbrpage }}">&raquo;</a>
			{% endif %}
		</p>

		<div class="medium-4">
			<form name="sort" action="{{ app.url_generator.generate('listing') }}/{{ page }}" method="post">
				{{ form_widget(form) }}
				<input class="button" type="submit" name="sort" value="Filtrer & Trier" />
			</form>
		</div>

	</div>
</div>
{% endblock %}
{% block logout %}
<div class="row">
	<div class="large-12 columns">
		<a href="{{ app.url_generator.generate('logout') }}">Se déconnecter</a>
	</div>
</div>
{% endblock %}