{% extends "base.html.twig" %}

{% block content %}
<div class="row">
	<div class="large-12 columns">
		<h3>Page de login.</h3>
		<form action="{{ app.url_generator.generate('homepage') }}" method="post">
			{{ form_widget(form) }}
			<input class="button" type="submit" name="submit" value="Se connecter" />
		</form>
	</div>
</div>
{% endblock %}