{% extends "base.html.twig" %}

{% block content %}
<div class="row">
	<div class="large-12 columns">
		<br/>
		<a href="{{ app.url_generator.generate('listing') }}">Retourner au listing global</a>
		<br/>
		<h2>Fiche de {{ customer.api_firstname }} {{ customer.api_name }}</h2>
		<ul>
			<li>Né le {{ customer.api_birthdate }}</li>
			<li>De sexe {{ customer.api_gender }}</li>
			<li>Email: {{ customer.api_mail }}</li>
			<li>Téléphone: {{ customer.api_phone }}</li>
			<li>Adresse postale: {{ customer.api_street }}, {{ customer.api_town }}, {{ customer.api_zipcode }}, {{ customer.api_country }}</li>
			<li>
				<a href="{{ app.url_generator.generate('edit') }}/{{ customer.id }}">éditer</a>
				<a href="{{ app.url_generator.generate('delete') }}/{{ customer.id }}">supprimer</a>
			</li>
		</ul>
	</div>
</div>
{% endblock %}